@font-face {
  font-family: "Abraham";
  src: url("../fonts/Abraham.woff2") format("woff2"), url("../fonts/Abraham.woff") format("woff"), url("../fonts/Abraham.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: Abraham, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #83b7e0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1770px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
  box-sizing: border-box;
}

.block-scroll {
  overflow: hidden;
}

.block-scroll body {
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 28px;
  color: #ffffff;
  line-height: 0.81;
  cursor: pointer;
  border: none;
  transition: .3s ease;
}

.btn:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.85);
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.navigation li {
  font-size: 27px;
  line-height: 30px;
  text-align: right;
  margin-bottom: 20px;
}

.navigation a {
  display: block;
  padding: 11px 16px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  transform: translate(200%, 0);
  animation: text-right 1s ease 1 forwards;
  opacity: 0;
  transition: .3s ease;
}

.navigation a:hover {
  background-color: #000000;
  color: #ffffff;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  width: 64px;
  height: 80px;
  background: url("../images/triangle.svg") center/cover no-repeat;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid svg {
  display: none;
}

.plyr--video {
  border-radius: 10px;
}

.plyr__controls {
  display: none;
}

.grey-bg {
  background-color: #efebe4;
}

.scroll-top {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 143px;
  overflow: auto;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 91;
  padding-bottom: 150px;
}

.modal__close {
  position: absolute;
  left: 107px;
  top: 64px;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 15px;
}

.modal__close::before, .modal__close::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  transform: rotate(45deg) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.85);
}

.modal__close::after {
  transform: rotate(-45deg) translateY(-50%);
}

.modal__title {
  font-size: 120px;
  line-height: 1;
  font-weight: bold;
  color: #000000;
  max-width: 520px;
  margin-top: -30px;
}

.modal__text {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
  max-width: 925px;
  margin-left: auto;
  margin-right: 100px;
}

.modal__text p {
  margin-bottom: 50px;
}

.modal__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 65px;
  padding-top: 150px;
}

.page-form-mobile {
  display: none;
}

@keyframes text {
  0% {
    transform: translate(0, 200%);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes textDown {
  0% {
    transform: translate(0, -200%);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes text-right {
  0% {
    transform: translate(200%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.header {
  position: fixed;
  z-index: 93;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #64D8B3;
  transform: translate(0, -200%);
  animation: textDown 2s ease 1 forwards;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  height: 100vh;
  width: 95%;
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 50px 80px 75px 75px;
  overflow: auto;
  backdrop-filter: blur(5px);
}

.header__menu.active {
  display: block;
}

.header__menu ul a {
  display: block;
  position: relative;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 15px;
  padding-top: 15px;
}

.header__menu ul a::after {
  position: absolute;
  content: "";
  background-color: #000;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.header__menu-close {
  position: absolute;
  left: 17px;
  top: 14px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 15px;
}

.header__menu-close::before, .header__menu-close::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  transform: rotate(45deg) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.85);
}

.header__menu-close::after {
  transform: rotate(-45deg) translateY(-50%);
}

.header__menu-btn {
  display: none;
  position: relative;
  width: 25px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
}

.header__menu-btn::before, .header__menu-btn::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 6px;
}

.header__menu-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 6px;
}

.header__links {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.85);
}

.header__links a {
  display: block;
  text-align: center;
}

.header__link {
  font-size: 21px;
  font-weight: bold;
}

.header__btn {
  text-align: center;
  font-size: 27px;
  margin-right: 45px;
  padding: 12px 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  transition: .3s ease;
}

.header__btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.header__menu-link {
  display: block;
  text-align: center;
  font-size: 25px;
  padding: 13px;
  margin-top: 70px;
  border-radius: 5px;
  background-color: #000;
  color: #ffffff;
  transition: .3s ease;
}

.header__menu-link:hover {
  background-color: #ffffff;
  color: #000000;
}

.main-page {
  padding-top: 55px;
}

.main-page__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 165px;
}

.main-page__head {
  max-width: 830px;
}

.main-page__title {
  font-size: 160px;
  font-weight: 300;
  color: rgba(6, 29, 22, 0.95);
  line-height: 0.94;
  margin-bottom: 35px;
  margin-top: -65px;
  overflow: hidden;
}

.main-page__title .line {
  overflow: hidden;
  transform: translate(0, 100%);
  animation: text 1s ease 1 forwards;
}

.main-page .line {
  overflow: hidden;
}

.main-page .animate-wrapper {
  overflow: hidden;
}

.main-page__subtitle {
  position: relative;
  font-size: 80px;
  font-weight: 300;
  color: #efebe4;
  padding-top: 10px;
  overflow: hidden;
  transform: translate(0, 100%);
  animation: text 1s ease 1 forwards;
}

.main-page__subtitle::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #efebe4;
  left: 0;
  top: 0;
  width: 0;
  animation: line 1.5s ease 1 forwards;
  animation-delay: 1.5s;
}

.main-page__form {
  max-width: 360px;
  width: 100%;
  overflow: hidden;
}

.main-page__form form {
  transform: translate(0, 100%);
  animation: text 1s ease 1 forwards;
}

.main-page__form-title {
  transform: translate(0, 150%);
  animation: text 1s ease 1 forwards;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  margin-bottom: 15px;
}

.main-page__form-item {
  margin-bottom: 10px;
}

.main-page__form-item input[type=text] {
  display: block;
  font-family: Abraham;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 6px 8px;
}

.main-page__form-item input[type=text]::placeholder {
  color: #7b7b7b;
}

.main-page__list {
  display: block;
  font-family: Abraham;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
}

.main-page__list-head {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  color: #6d7278;
  padding: 6px 8px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
  padding-left: 30px;
}

.main-page__list-head::before {
  position: absolute;
  content: "";
  width: 0;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 0;
  border-style: solid;
  border-width: 8px 5.5px 0 5.5px;
  border-color: #000000 transparent transparent transparent;
}

.main-page__list-items {
  display: none;
  margin-top: 10px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 18px;
}

.main-page__form-checkbox {
  margin-bottom: 15px;
}

.main-page__form-checkbox label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-page__form-checkbox input {
  margin-left: 13px;
  margin-top: 12px;
  flex-shrink: 0;
}

.main-page__form-checkbox input:checked ~ .checkmark::before {
  opacity: 1;
}

.main-page__form-checkbox:last-child {
  margin-bottom: 0;
}

.main-page__form-btn {
  width: 100%;
  margin-top: 10px;
}

.checkmark {
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #000000;
  border-radius: 2px;
}

.checkmark::before {
  position: absolute;
  content: "";
  background: url("../images/check.svg") center no-repeat;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.video-page {
  width: 100%;
  padding-right: 60px;
  padding-bottom: 300px;
}

.video-page__wrapper {
  overflow: hidden;
}

.video-page__main-video {
  border-radius: 10px;
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 140px;
}

.video-page__main-video .plyr--full-ui.plyr--video .plyr__control--overlaid {
  background: url("../images/triangle.svg") center/cover no-repeat;
  width: 191px;
  height: 233px;
}

.video-page__main-video .plyr--full-ui.plyr--video .plyr__control--overlaid svg {
  display: none;
}

.video-page__scroll-top {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -55px;
  right: -20%;
}

.video-page__title {
  font-size: 120px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 35px;
  margin-top: -70px;
}

.video-page__subtitle {
  font-size: 30px;
  font-weight: 300;
  line-height: 2.06;
  color: rgba(0, 0, 0, 0.85);
}

.video-page__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.video-page__item {
  max-width: 450px;
  width: 100%;
  margin-bottom: 90px;
}

.video-page__item-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 2.06;
  color: rgba(0, 0, 0, 0.85);
}

.video-page__item-video {
  box-shadow: 3px 3px 20px 0 rgba(104, 104, 104, 0.5);
  border-radius: 10px;
  margin-bottom: 12px;
}

.video-page__item-link {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  color: #1aca90;
  padding: 7px 12px;
  background-color: #fff;
  border-radius: 10px;
  transition: .3s ease;
}

.video-page__item-link:hover {
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.24);
}

.video-page__item-link-green {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  padding: 7px 12px;
  margin-left: 20px;
  background-color: #1aca90;
  border-radius: 10px;
  transition: .3s ease;
}

.video-page__item-link-green:hover {
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.24);
}

.video-page__foot {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.video-page__foot::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #000000;
  left: 0;
  top: 0;
}

.video-page__foot::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #000000;
  left: 0;
  bottom: 0;
}

.video-page__stat {
  max-width: 535px;
  width: 100%;
}

.video-page__percent {
  font-size: 304.4px;
  color: #000000;
  margin-top: -40px;
}

.video-page__stat-text {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  margin-top: -30px;
  padding-bottom: 40px;
}

.video-page__img {
  margin-left: 30px;
}

.aside {
  padding-left: 35px;
  width: 250px;
  flex-shrink: 0;
}

.bottom-form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: #64D8B3;
  z-index: 90;
  padding: 48px 0;
  overflow: visible;
  animation: text 1s ease 1 forwards;
  transform: translateY(200%);
}

.bottom-form form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}

.bottom-form .main-page__form-item {
  max-width: 340px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.bottom-form .main-page__form-item input {
  display: inline-block;
  height: 65px;
}

.bottom-form .main-page__form-btn {
  margin-right: 50px;
  height: 65px;
  margin-top: 0;
}

.bottom-form .main-page__list {
  margin-left: 10px;
  margin-right: 10px;
}

.bottom-form .main-page__list-head {
  display: flex;
  align-items: center;
  height: 65px;
  border-radius: 5px;
}

.bottom-form .main-page__list-items {
  position: absolute;
  top: -700%;
  left: 200px;
  z-index: 11;
  max-height: 500px;
  overflow: auto;
}

@media (max-width: 1530px) {
  .main-page__head {
    margin-left: 30px;
    margin-right: 30px;
  }
  .main-page__title {
    font-size: 140px;
  }
  .main-page__subtitle {
    font-size: 60px;
    padding-top: 10px;
  }
  .video-page__percent {
    font-size: 188.5px;
  }
  .video-page__stat-text {
    font-size: 26px;
  }
}

@media (max-width: 1530px) {
  .main-page__head {
    max-width: 500px;
  }
  .main-page__title {
    font-size: 100px;
    margin-top: 0;
  }
  .main-page__subtitle {
    font-size: 40px;
  }
}

@media (max-width: 1366px) {
  .modal__title {
    font-size: 92px;
    max-width: 488px;
  }
  .modal__text {
    font-size: 24px;
    margin-right: 50px;
  }
  .modal__content {
    padding: 45px;
    padding-top: 150px;
  }
}

@media (max-width: 1200px) {
  .bottom-form {
    padding: 24px 0;
  }
  .bottom-form .main-page__form-btn {
    margin-right: 10px;
  }
  .bottom-form .main-page__form-item {
    margin-left: 5px;
    margin-right: 5px;
  }
  .bottom-form .main-page__list {
    margin-left: 5px;
    margin-right: 5px;
  }
  .inner-page {
    justify-content: center;
  }
  .inner-page .aside {
    margin-bottom: 50px;
  }
  .main-page__inner {
    flex-wrap: wrap;
  }
  .main-page__head {
    width: 100%;
    max-width: 100%;
    order: -1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .main-page__title {
    max-width: 500px;
  }
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .video-page {
    padding-right: 0;
  }
  .video-page__item {
    max-width: 45%;
  }
  .video-page__scroll-top {
    top: 10px;
    right: auto;
    left: 0;
  }
}

@media (max-width: 1024px) {
  .page-form-mobile {
    display: block;
  }
  .page-form-mobile .main-page__form {
    max-width: 100%;
  }
  .bottom-form {
    display: none;
  }
  .video-page {
    padding-top: 0px;
  }
  .video-page__stat-text {
    font-size: 18px;
  }
  .video-page__foot {
    flex-direction: column;
  }
  .video-page__percent {
    margin-bottom: 10px;
    text-align: center;
  }
  .video-page__img {
    margin-left: 0;
    order: 2;
  }
  .video-page__img img {
    height: 270px;
  }
  .modal__content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 30px;
  }
  .modal__close {
    top: 16px;
    left: 16px;
  }
  .modal__text {
    margin: 0;
  }
  .modal__title {
    max-width: 100%;
    margin-bottom: 28px;
  }
}

@media (max-width: 991px) {
  .header__logo {
    width: 350px;
  }
  .header__link {
    font-size: 18px;
  }
  .header__btn {
    font-size: 22px;
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .video-page {
    padding-bottom: 45px;
  }
  .video-page__scroll-top {
    width: 29px;
    height: 19px;
  }
  .modal {
    top: 70px;
  }
  .modal__title {
    font-size: 46px;
  }
  .modal__close {
    width: 29px;
    height: 29px;
  }
  .modal__text {
    font-size: 18px;
  }
  .modal__text p {
    margin-bottom: 27px;
  }
  .video-page__item {
    margin-bottom: 60px;
  }
  .video-page__main-video {
    margin-bottom: 30px;
  }
  .video-page__item-title {
    font-size: 22px;
    line-height: 1.64;
  }
  .video-page .video-page__main-video .plyr--full-ui.plyr--video .plyr__control--overlaid {
    width: 64px;
    height: 80px;
  }
  .header {
    padding-top: 13px;
    padding-bottom: 13px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .header__logo {
    width: 293px;
  }
  .header__links {
    display: none;
  }
  .header__menu-btn {
    display: block;
  }
  .navigation {
    display: none;
  }
  .main-page {
    min-height: auto;
    padding-bottom: 20px;
  }
  .main-page__inner {
    margin-top: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-page__head {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 270px;
  }
  .main-page__form-title {
    font-weight: 300;
  }
  .main-page__title {
    max-width: 100%;
    font-size: 60px;
    font-weight: 300;
    color: #efebe4;
    margin-bottom: 20px;
    max-width: 300px;
  }
  .main-page__subtitle {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
  }
  .main-page__subtitle::before {
    height: 2px;
  }
  .video-page__item-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-page__item-link {
    flex-basis: calc(50% - 5px);
  }
  .video-page__item-link-green {
    margin-left: 10px;
    flex-basis: calc(50% - 5px);
  }
  .inner-page {
    margin-top: 65px;
  }
  .video-page__item {
    max-width: 100%;
    width: 100%;
  }
  .video-page__title {
    font-size: 46px;
    line-height: 1.22;
    margin-bottom: 35px;
  }
  .video-page__subtitle {
    font-size: 22px;
    line-height: 1.64;
    margin-bottom: 5px;
  }
  .video-page__main-video {
    border-radius: 0;
    margin-left: -18px;
    margin-right: -18px;
  }
  .video-page__item-video {
    border-radius: 0;
    margin-left: -18px;
    margin-right: -18px;
  }
  .video-page__item-title {
    margin-bottom: 5px;
  }
  .video-page .plyr--video {
    border-radius: 0;
  }
}

@media (max-width: 370px) {
  .main-page__title {
    font-size: 57px;
  }
  .main-page__subtitle {
    font-size: 27px;
  }
  .header__menu {
    padding: 55px;
  }
}
