@font-face {
  font-family: "Abraham-Light";
  src: url("../fonts/Abraham-Light.woff2") format("woff2"), url("../fonts/Abraham-Light.woff") format("woff"), url("../fonts/Abraham-Light.eot") format("opentype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Abraham-Regular";
  src: url("../fonts/Abraham-Regular.woff2") format("woff2"), url("../fonts/Abraham-Regular.woff") format("woff"), url("../fonts/Abraham-Regular.eot") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Abraham-Medium";
  src: url("../fonts/Abraham-Medium.woff2") format("woff2"), url("../fonts/Abraham-Medium.woff") format("woff"), url("../fonts/Abraham-Medium.eot") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Abraham-Bold";
  src: url("../fonts/Abraham-Bold.woff2") format("woff2"), url("../fonts/Abraham-Bold.woff") format("woff"), url("../fonts/Abraham-Bold.eot") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Abraham-Regular', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #f8a5dc;
  background: linear-gradient(180deg, #f8a5dc 0%, #f8a5dc 10%, #ffcc66 17%, #ebd18c 35%, #c9dacc 43%, #c9d9cc 66%, #f8a5dc 79%, #f8a5dc 100%);
  min-height: 100vh;
}

body.short-page {
  background: linear-gradient(180deg, #f8a5dc 0%, #f8a5dc 18%, #ffcc66 48%, #ebd18c 63%, #c9d9cc 100%);
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1770px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
  box-sizing: border-box;
}

.block-scroll {
  overflow: hidden;
}

.block-scroll body {
  overflow: hidden;
}

.btn {
  font-family: 'Abraham-Regular', sans-serif;
  display: inline-block;
  padding: 10px 18px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 28px;
  color: #ffffff;
  line-height: 0.81;
  cursor: pointer;
  border: none;
  transition: .3s ease;
}

.btn:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.85);
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.navigation li {
  font-size: 27px;
  line-height: 30px;
  text-align: right;
  margin-bottom: 20px;
  animation: swim 7s ease infinite;
}

.navigation li:hover {
  animation: none;
}

.navigation a {
  display: block;
  padding: 11px 16px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  transform: translate(200%, 0);
  animation: text-right 1s ease 1 forwards;
  opacity: 0;
  transition: .3s ease;
}

.navigation a:hover {
  background-color: #000000;
  color: #ffffff;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  width: 64px;
  height: 80px;
  background: url("../images/triangle.svg") center/cover no-repeat;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid svg {
  display: none;
}

.plyr--video {
  border-radius: 10px;
}

.plyr__controls {
  display: none;
}

.grey-bg {
  background-color: #efebe4;
}

.scroll-top {
  position: fixed;
  cursor: pointer;
  right: 200px;
  bottom: 210px;
  z-index: 90;
  width: 60px;
  height: 60px;
  transition: .3s ease;
  overflow: hidden;
  opacity: 0;
}

.scroll-top.visible {
  overflow: visible;
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 143px;
  overflow: auto;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 249, 238, 0.85);
  z-index: 91;
  padding-bottom: 150px;
}

.modal__close {
  position: absolute;
  left: 107px;
  top: 64px;
  width: 45px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 15px;
}

.modal__close::before, .modal__close::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  transform: rotate(45deg) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.85);
}

.modal__close::after {
  transform: rotate(-45deg) translateY(-50%);
}

.modal__title {
  font-size: 120px;
  line-height: 1;
  font-family: 'Abraham-Bold';
  font-weight: bold;
  color: #000000;
  max-width: 520px;
  margin-top: -30px;
}

.modal__text {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
  max-width: 925px;
  margin-left: auto;
  margin-right: 100px;
}

.modal__text p {
  margin-bottom: 50px;
}

.modal__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 65px;
  padding-top: 150px;
}

.page-form-mobile {
  display: none;
}

.top-line,
.bottom-line {
  position: absolute;
  height: 2px;
  background-color: #ffffff;
  left: 0;
  top: 0;
}

.bottom-line {
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
}

@keyframes swim {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -5px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes swim-rev {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 5px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes blinking {
  0% {
    background-color: rgba(255, 249, 238, 0.75);
  }
  50% {
    background-color: #161a43;
  }
  100% {
    background-color: rgba(255, 249, 238, 0.75);
  }
}

@keyframes text {
  0% {
    transform: translate(0, 200%);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes textDown {
  0% {
    transform: translate(0, -200%);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes text-right {
  0% {
    transform: translate(200%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

[data-aos="line"] {
  width: 0;
  transition-property: width;
}

[data-aos="line"].aos-animate {
  width: 100%;
}

.header {
  position: fixed;
  z-index: 93;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #f8a5dc;
  transform: translate(0, -200%);
  animation: textDown 2s ease 1 forwards;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 500px;
}

.header__menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  height: 100vh;
  width: 95%;
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 50px 80px 75px 75px;
  overflow: auto;
  backdrop-filter: blur(5px);
}

.header__menu.active {
  display: block;
}

.header__menu ul a {
  display: block;
  position: relative;
  font-size: 30px;
  font-family: "Abraham-Light", sans-serif;
  padding-bottom: 15px;
  padding-top: 15px;
}

.header__menu ul a::after {
  position: absolute;
  content: "";
  background-color: #000;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.header__menu-close {
  position: absolute;
  left: 17px;
  top: 14px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 15px;
}

.header__menu-close::before, .header__menu-close::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  transform: rotate(45deg) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.85);
}

.header__menu-close::after {
  transform: rotate(-45deg) translateY(-50%);
}

.header__menu-btn {
  display: none;
  position: relative;
  width: 25px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
}

.header__menu-btn::before, .header__menu-btn::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 6px;
}

.header__menu-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin-bottom: 6px;
}

.header__links {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.85);
}

.header__links a {
  display: block;
  text-align: center;
}

.header__link {
  font-size: 21px;
  font-weight: bold;
}

.header__btn {
  text-align: center;
  font-size: 27px;
  margin-right: 45px;
  padding: 12px 18px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  transition: .3s ease;
}

.header__btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.header__menu-link {
  display: block;
  text-align: center;
  font-size: 25px;
  padding: 13px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 5px;
  background-color: #000;
  color: #ffffff;
  transition: .3s ease;
}

.header__menu-link:hover {
  background-color: #ffffff;
  color: #000000;
}

.home-page {
  background: url("../images/web.png") bottom center no-repeat;
  height: 100%;
}

.home-page .main-page {
  min-height: 1300px;
}

.main-page {
  padding-top: 55px;
  overflow: hidden;
}

.main-page .form-home {
  margin-top: 50px;
}

.main-page__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 165px;
}

.main-page__head {
  max-width: 830px;
  margin-left: 140px;
}

.main-page__mobile-img {
  display: none;
  margin-bottom: 30px;
}

.main-page__title {
  font-size: 160px;
  font-family: 'Abraham-Light', sans-serif;
  font-weight: 300;
  color: #161a43;
  line-height: 0.94;
  margin-bottom: 35px;
  margin-top: -35px;
  overflow: hidden;
}

.main-page__title .line {
  overflow: hidden;
  transform: translate(0, 100%);
  animation: text 1s ease 1 forwards;
}

.main-page__title strong {
  font-family: 'Abraham-Bold', sans-serif;
}

.main-page .line {
  overflow: hidden;
}

.main-page .animate-wrapper {
  overflow: hidden;
}

.main-page__subtitle {
  position: relative;
  font-size: 80px;
  font-family: 'Abraham-Light', sans-serif;
  font-weight: 300;
  color: #161a43;
  padding-top: 10px;
  overflow: hidden;
  transform: translate(0, 100%);
  animation: text 1s ease 1 forwards;
}

.main-page__subtitle::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #161a43;
  left: 0;
  top: 0;
  width: 0;
  animation: line 1.5s ease 1 forwards;
  animation-delay: 1.5s;
}

.main-page__form {
  max-width: 360px;
  width: 100%;
  overflow: hidden;
}

.main-page__form form {
  transform: translate(0, 100%);
  animation: text 1s ease 1 forwards;
}

.main-page__form-title {
  transform: translate(0, 150%);
  animation: text 1s ease 1 forwards;
  font-size: 27px;
  font-family: "Abraham-Bold", sans-serif;
  font-weight: bold;
  line-height: 1.11;
  margin-bottom: 15px;
}

.main-page__form-item {
  margin-bottom: 10px;
}

.main-page__form-item input[type=text] {
  display: block;
  font-family: "Abraham-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.85);
  padding: 6px 8px;
}

.main-page__form-item input[type=text]::placeholder {
  color: #7b7b7b;
}

.main-page__list {
  position: relative;
  display: block;
  font-family: "Abraham-Light", sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
}

.main-page__list-head {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: "Abraham-Light", sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: #6d7278;
  padding: 6px 8px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
  padding-left: 30px;
  border-radius: 5px;
}

.main-page__list-head.open::before {
  transform: rotate(180deg);
}

.main-page__list-head::before {
  position: absolute;
  content: "";
  width: 0;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 0;
  border-style: solid;
  border-width: 8px 5.5px 0 5.5px;
  border-color: #000000 transparent transparent transparent;
  transition: .3s ease;
}

.main-page__list-items {
  display: none;
  margin-top: 10px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 18px;
  border-radius: 5px;
}

.main-page__form-checkbox {
  margin-bottom: 15px;
}

.main-page__form-checkbox label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-page__form-checkbox input {
  margin-left: 13px;
  margin-top: 6px;
  flex-shrink: 0;
}

.main-page__form-checkbox input:checked ~ .checkmark::before {
  opacity: 1;
}

.main-page__form-checkbox:last-child {
  margin-bottom: 0;
}

.main-page__form-btn {
  width: 100%;
  margin-top: 10px;
  line-height: 0.8;
}

.checkmark {
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #000000;
  border-radius: 2px;
}

.checkmark::before {
  position: absolute;
  content: "";
  background: url("../images/check.svg") center no-repeat;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.video-page {
  width: 100%;
  padding-right: 60px;
}

.video-page__wrapper {
  overflow: hidden;
}

.video-page .animate-wrapper {
  position: relative;
}

.video-page__main-video {
  border-radius: 10px;
  box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 140px;
}

.video-page__main-video .plyr--full-ui.plyr--video .plyr__control--overlaid {
  background: url("../images/triangle.svg") center/cover no-repeat;
  width: 191px;
  height: 233px;
}

.video-page__main-video .plyr--full-ui.plyr--video .plyr__control--overlaid svg {
  display: none;
}

.video-page__head {
  max-width: 390px;
  width: 100%;
  flex-shrink: 0;
}

.video-page__head .top-line,
.video-page__head .bottom-line {
  animation: line 2s ease 1 forwards;
  background-color: #161a43;
}

.video-page__intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.video-page__title {
  font-size: 120px;
  line-height: 1;
  font-family: "Abraham-Light", sans-serif;
  font-weight: 300;
  color: #161a43;
  transform: translate(0, 200%);
  margin-top: 10px;
  animation: text 1s ease 1 forwards;
}

.video-page__subtitle {
  font-size: 80px;
  font-family: "Abraham-Bold", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: #161a43;
  transform: translate(0, 200%);
  padding-top: 20px;
  animation: text 1s ease 1 forwards;
}

.video-page__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.video-page__item {
  max-width: 450px;
  width: 100%;
  margin-bottom: 90px;
}

.video-page__item-title {
  font-size: 30px;
  font-family: "Abraham-Bold", sans-serif;
  font-weight: bold;
  line-height: 2.06;
  color: #161a43;
}

.video-page__main-video {
  width: 100%;
  margin-right: 100px;
  margin-top: 40px;
}

.video-page__item-video {
  box-shadow: 3px 3px 20px 0 rgba(104, 104, 104, 0.5);
  border-radius: 10px;
  margin-bottom: 12px;
}

.video-page__item-link {
  display: inline-block;
  font-size: 15px;
  font-family: "Abraham-Regular", sans-serif;
  font-weight: normal;
  text-align: center;
  color: #161a43;
  padding: 7px 12px;
  background-color: #fff;
  border-radius: 10px;
  transition: .3s ease;
  margin-right: 15px;
}

.video-page__item-link:first-child {
  margin-right: 0;
}

.video-page__item-link:hover {
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.24);
}

.video-page__item-link-green {
  display: inline-block;
  font-size: 15px;
  font-family: "Abraham-Medium", sans-serif;
  font-weight: 500;
  text-align: center;
  background-color: #161a43;
  padding: 7px 12px;
  color: #fff;
  border-radius: 10px;
  transition: .3s ease;
}

.video-page__item-link-green:hover {
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.24);
}

.video-page__foot.page-foot {
  color: #000000;
}

.video-page__foot.page-foot .top-line,
.video-page__foot.page-foot .bottom-line {
  position: absolute;
  height: 2px;
  background-color: #000000;
  left: 0;
  top: 0;
}

.video-page__foot.page-foot .bottom-line {
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
}

.text-page__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.text-page__text {
  font-size: 30px;
  color: #161a43;
  padding-left: 100px;
}

.text-page__text p {
  margin-bottom: 40px;
  transform: translate(0, 200%);
  animation: text 1s ease 1 forwards;
}

.text-page__text p a {
  position: relative;
}

.text-page__text p a::after {
  position: absolute;
  content: "";
  bottom: 2px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #161a43;
  transform: scaleX(1);
  transform-origin: left;
  transition: .4s ease;
}

.text-page__text p a:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}

.text-page__title {
  font-size: 120px;
  font-family: "Abraham-Bold", sans-serif;
  font-weight: bold;
  line-height: .9;
  color: #161a43;
  margin-left: 50px;
  margin-right: 50px;
}

.text-page__title > span {
  display: inline-block;
}

.text-page__title span > span {
  display: inline-block;
  transform: translate(0, 200%);
  animation: text 1s ease 1 forwards;
}

.accordion__content {
  display: none;
  max-width: 820px;
  margin-right: 100px;
  margin-left: 50px;
  font-size: 30px;
  font-family: "Abraham-Light", sans-serif;
  font-weight: 300;
  line-height: 1.33;
  margin-top: 23px;
  margin-bottom: 33px;
}

.accordion__content p {
  margin-bottom: 45px;
}

.accordion__btn {
  display: block;
  position: relative;
  width: 42px;
  height: 42px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
  margin-top: 35px;
}

.accordion__btn::before, .accordion__btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #161a43;
  transition: .3s ease;
}

.accordion__btn::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.page {
  max-width: 1260px;
  width: 100%;
}

.page__content {
  color: #161a43;
  margin-bottom: 170px;
}

.page__content .top-line,
.page__content .bottom-line {
  position: absolute;
  height: 2px;
  background-color: #161a43;
  left: 0;
  top: 0;
}

.page__content .bottom-line {
  right: 0;
  left: auto;
  bottom: 0;
  top: auto;
}

.page__item-time {
  font-size: 45px;
  font-family: "Abraham-Bold", sans-serif;
  font-weight: bold;
  margin-left: 90px;
  margin-top: 5px;
}

.page__item-title {
  font-size: 45px;
  font-family: "Abraham-Bold", sans-serif;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 22px;
  color: #161a43;
}

.page__title {
  font-size: 120px;
  font-family: "Abraham-Bold", sans-serif;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 75px;
  animation: text 1s ease 1 forwards;
  transform: translate(0, 200%);
}

.page__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 10px;
}

.page__item.active .page__item-title {
  font-family: "Abraham-Bold", sans-serif;
  font-weight: 700;
}

.page__item.active .accordion__btn::before, .page__item.active .accordion__btn::after {
  left: 40%;
  top: calc(50% + 15px);
  transform: rotate(45deg) translate(-50%, -50%);
}

.page__item.active .accordion__btn::after {
  top: calc(50% - 15px);
  transform: rotate(-45deg) translate(-50%, -50%);
}

.page__item-wrapper {
  position: relative;
}

.page__item-title {
  cursor: pointer;
  flex-shrink: 0;
  line-height: 1;
  flex-grow: 1;
  padding: 25px 0;
}

.schedule__title {
  margin-left: auto;
  margin-bottom: 40px;
  line-height: 1;
}

.schedule__title span {
  font-family: "Abraham-Light", sans-serif;
  font-weight: 300;
}

.schedule .page__items {
  margin-bottom: 80px;
}

.schedule .page__items:last-child {
  margin-bottom: 0;
}

.schedule__btn {
  background-color: #ffffff;
  color: #161a43;
  margin-right: 30px;
}

.schedule__btn:hover {
  background-color: #161a43;
  color: #ffffff;
}

.schedule.page {
  max-width: 1440px;
}

.schedule .page__item {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.schedule .page__item-time {
  margin-top: 0;
}

.schedule .page__item-title {
  flex-shrink: 1;
  padding: 0;
  font-family: 'Abraham-Regular', sans-serif;
  font-weight: 400;
  margin: 0;
}

.aside {
  padding-left: 35px;
  width: 250px;
  flex-shrink: 0;
}

.aside ~ .video-page {
  margin-top: -40px;
}

.blinking {
  animation: blinking 1s ease 3;
}

.form-wrapper {
  overflow: visible;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: rgba(255, 249, 238, 0.75);
  z-index: 90;
  transform: translateY(200%);
  animation: text 1s ease 1 forwards;
}

.form-wrapper .bottom-form {
  max-width: 100%;
}

.bottom-form {
  padding: 48px 0;
}

.bottom-form form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: -10px;
  margin-right: -10px;
}

.bottom-form .main-page__form-item {
  max-width: 340px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.bottom-form .main-page__form-item input {
  display: inline-block;
  height: 65px;
}

.bottom-form .main-page__form-btn {
  margin-right: 50px;
  height: 65px;
  margin-top: 0;
}

.bottom-form .main-page__list {
  margin-left: 10px;
  margin-right: 10px;
}

.bottom-form .main-page__list-head {
  display: flex;
  align-items: center;
  height: 65px;
  border-radius: 5px;
}

.bottom-form .main-page__list-items {
  padding-left: 5px;
  position: absolute;
  bottom: calc(100% + 7px);
  left: 0;
  z-index: 11;
  max-height: 417px;
  overflow: auto;
}

.page-form-mobile {
  margin-bottom: 25px;
}

.page-form-mobile__title {
  font-size: 27px;
  font-family: "Abraham-Light", sans-serif;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: #fff;
  padding: 8px 17px;
  margin-bottom: 25px;
}

.page-foot {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  overflow: hidden;
  margin-bottom: 330px;
  color: #efebe4;
}

.page-foot__wrapper {
  position: relative;
}

.page-foot__stat {
  max-width: 535px;
  width: 100%;
}

.page-foot__percent {
  font-size: 304.4px;
  margin-top: -40px;
}

.page-foot__stat-text {
  font-size: 32px;
  font-family: "Abraham-Medium", sans-serif;
  font-weight: 500;
  margin-top: -30px;
  padding-bottom: 40px;
}

.page-foot__img {
  position: relative;
  max-width: 800px;
  margin-left: 30px;
}

.page-foot__img .top-line,
.page-foot__img .bottom-line {
  display: none;
}

.page-foot__img img {
  width: 100%;
}

.register {
  padding-top: 200px;
  padding-bottom: 260px;
}

.register__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
  overflow: hidden;
}

.register__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 580px;
  max-width: 865px;
  padding: 30px 60px;
  padding-bottom: 100px;
  color: #161a43;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 249, 238, 0.38);
  margin-right: 15px;
  margin-left: 15px;
  animation: text 1s ease 1 forwards;
  transform: translate(0, 200%);
  flex-basis: 50%;
  transition: .3s ease;
}

.register__item:hover {
  border-radius: 5px;
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 249, 238, 0.75);
}

.register__item .top-line,
.register__item .bottom-line {
  background-color: #161a43;
}

.register__title {
  font-size: 120px;
  font-family: "Abraham-Light", sans-serif;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.register__subtitle {
  position: absolute;
  bottom: 30px;
  padding-top: 10px;
  font-size: 30px;
  font-family: "Abraham-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.67;
  text-align: center;
}

@media (max-width: 1530px) {
  .main-page__head {
    margin-left: 30px;
    margin-right: 30px;
  }
  .main-page__title {
    font-size: 140px;
  }
  .main-page__subtitle {
    font-size: 60px;
    padding-top: 10px;
  }
  .video-page__percent {
    font-size: 188.5px;
  }
  .video-page__stat-text {
    font-size: 26px;
  }
  .text-page__text {
    padding-left: 0;
  }
}

@media (max-width: 1530px) {
  .main-page__head {
    max-width: 500px;
  }
  .main-page__title {
    font-size: 100px;
    margin-top: 0;
  }
  .main-page__subtitle {
    font-size: 40px;
  }
  .video-page__title {
    font-size: 96px;
  }
  .video-page__subtitle {
    font-size: 56px;
  }
}

@media (max-width: 1366px) {
  .text-page__title {
    margin-top: -20px;
    font-size: 92px;
  }
  .text-page__text {
    font-size: 28px;
  }
  .modal__title {
    font-size: 92px;
    max-width: 488px;
  }
  .modal__text {
    font-size: 24px;
    margin-right: 50px;
  }
  .modal__content {
    padding: 45px;
    padding-top: 150px;
  }
}

@media (max-width: 1280px) {
  .video-page__intro {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .video-page__main-video {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .scroll-top {
    top: -80px;
    right: auto;
    left: 17px;
    bottom: auto;
  }
  .bottom-form {
    padding: 24px 0;
  }
  .bottom-form .main-page__form-btn {
    margin-right: 10px;
  }
  .bottom-form .main-page__form-item {
    margin-left: 5px;
    margin-right: 5px;
  }
  .bottom-form .main-page__list {
    margin-left: 5px;
    margin-right: 5px;
  }
  .inner-page {
    justify-content: center;
  }
  .inner-page .aside {
    margin-bottom: 50px;
  }
  .main-page__inner {
    flex-wrap: wrap;
  }
  .main-page__head {
    width: 100%;
    max-width: 100%;
    order: -1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .main-page__title {
    max-width: 500px;
  }
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .video-page {
    padding-right: 0;
  }
  .video-page__item {
    max-width: 45%;
  }
  .video-page__scroll-top {
    top: 10px;
    right: auto;
    left: 0;
  }
}

@media (max-width: 1080px) {
  .page-foot {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .page-foot__stat-text {
    font-size: 18px;
  }
  .page-foot__percent {
    margin-bottom: 10px;
    text-align: center;
    font-size: 188.5px;
  }
  .page-foot__img {
    order: 2;
    margin-left: 0;
  }
  .page-form-mobile {
    display: block;
  }
  .page-form-mobile .main-page__form {
    max-width: 100%;
  }
  .bottom-form {
    display: none;
  }
  .video-page {
    padding-top: 0px;
  }
}

@media (max-width: 1024px) {
  .register {
    padding-bottom: 0;
    padding-top: 155px;
  }
  .register__item--sub .register__title {
    margin-top: auto;
  }
  .register__title {
    font-size: 46px;
    font-weight: 300;
  }
  .register__subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
  }
  .register__item {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 3px 3px 20px 0 rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.85);
  }
  .register__item .top-line,
  .register__item .bottom-line {
    background-color: #000000;
  }
  .modal__content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 30px;
  }
  .modal__close {
    top: 16px;
    left: 16px;
  }
  .modal__text {
    margin: 0;
  }
  .modal__title {
    max-width: 100%;
    margin-bottom: 28px;
  }
}

@media (max-width: 991px) {
  .text-page__content {
    flex-direction: column;
  }
  .text-page__title {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 22px;
  }
  .text-page__text p {
    margin-bottom: 25px;
  }
  .header__logo {
    width: 350px;
  }
  .header__link {
    font-size: 18px;
  }
  .header__btn {
    font-size: 22px;
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .home-page {
    background: none;
  }
  .video-page__title {
    margin-bottom: 30px;
  }
  .form-home {
    margin-top: 0;
  }
  .register {
    padding-top: 105px;
  }
  .register__title {
    max-width: 300px;
  }
  .register__item {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    min-height: 240px;
  }
  .register__inner {
    flex-direction: column;
    margin: 0;
  }
  .schedule__title {
    margin-bottom: 40px;
    line-height: 1;
  }
  .schedule .page__item {
    padding: 15px 0;
  }
  .schedule .page__item-title {
    font-size: 19px;
    line-height: 1.16;
  }
  .schedule .divider {
    display: none;
  }
  .page__item-time {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 8px;
  }
  .page .scroll-top {
    left: 0;
  }
  .page__title {
    font-size: 46px;
    line-height: 1.04;
    margin-bottom: 25px;
  }
  .page__item-title {
    font-size: 27px;
    padding: 15px 0;
  }
  .page__content {
    margin-bottom: 0;
  }
  .page .page-foot > .top-line {
    display: none;
  }
  .page-foot__img {
    padding-top: 20px;
  }
  .page-foot__img .top-line,
  .page-foot__img .bottom-line {
    display: block;
  }
  .accordion .page__item.active .accordion__btn::before,
  .accordion .page__item.active .accordion__btn::after {
    top: calc(50% + 10px);
  }
  .accordion .page__item.active .accordion__btn::after {
    top: calc(50% - 11px);
  }
  .accordion .page__item-title {
    width: 100%;
    padding-left: 30px;
  }
  .accordion .page__item-wrapper {
    margin: 0 -18px;
  }
  .accordion .page__item {
    flex-direction: column;
    padding: 0 18px;
  }
  .accordion__btn {
    position: absolute;
    margin-top: 0;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 18px;
  }
  .accordion__content {
    font-size: 18px;
    margin: 10px 0;
    margin-top: 0;
  }
  .accordion__content p {
    margin-bottom: 30px;
  }
  .inner-page.page__wrapper {
    margin-top: 0;
  }
  .scroll-top {
    width: 29px;
    height: 19px;
    top: -45px;
  }
  .page .scroll-top {
    top: 15px;
  }
  .page-foot__stat-text {
    text-align: center;
  }
  .text-page__text {
    font-size: 18px;
    line-height: 1.33;
  }
  .text-page__content {
    margin-bottom: 30px;
  }
  .text-page__title {
    font-size: 46px;
    font-weight: bold;
    line-height: 1;
  }
  .video-page__scroll-top {
    width: 29px;
    height: 19px;
    top: 15px;
  }
  .modal {
    top: 70px;
  }
  .modal__title {
    font-size: 46px;
  }
  .modal__close {
    width: 29px;
    height: 29px;
  }
  .modal__text {
    font-size: 18px;
  }
  .modal__text p {
    margin-bottom: 27px;
  }
  .video-page__item {
    margin-bottom: 60px;
  }
  .video-page__main-video {
    margin-bottom: 30px;
  }
  .video-page__item-title {
    font-size: 22px;
    line-height: 1.64;
  }
  .video-page .video-page__main-video .plyr--full-ui.plyr--video .plyr__control--overlaid {
    width: 64px;
    height: 80px;
  }
  .header {
    padding-top: 13px;
    padding-bottom: 13px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .header__logo {
    width: 293px;
  }
  .header__links {
    display: none;
  }
  .header__menu-btn {
    display: block;
  }
  .navigation {
    display: none;
  }
  .schedule__btn {
    display: none;
  }
  .home-page .main-page__inner {
    margin-bottom: 30px;
  }
  .home-page .main-page {
    min-height: 878px;
  }
  .main-page {
    min-height: auto;
    padding-bottom: 20px;
  }
  .main-page__inner {
    margin-top: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-page__mobile-img {
    display: block;
  }
  .main-page__head {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .main-page__form-title {
    font-weight: 300;
  }
  .main-page__title {
    max-width: 100%;
    font-size: 65px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .main-page__subtitle {
    font-size: 21px;
    font-family: 'Abraham-Regular', sans-serif;
    font-weight: 400;
    line-height: 36px;
  }
  .main-page__subtitle::before {
    height: 2px;
  }
  .video-page__item-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-page__item-link {
    flex-basis: auto;
    margin-right: 5px;
  }
  .inner-page {
    margin-top: 65px;
  }
  .video-page__item {
    max-width: 100%;
    width: 100%;
  }
  .video-page__title {
    font-size: 46px;
    line-height: 1.22;
    margin-bottom: 35px;
  }
  .video-page__subtitle {
    font-size: 22px;
    line-height: 1.64;
    margin-bottom: 5px;
  }
  .video-page__main-video {
    border-radius: 0;
    margin-left: -18px;
    margin-right: -18px;
  }
  .video-page__item-video {
    border-radius: 0;
    margin-left: -18px;
    margin-right: -18px;
  }
  .video-page__item-title {
    margin-bottom: 5px;
  }
  .video-page .plyr--video {
    border-radius: 0;
  }
}

@media (max-width: 560px) {
  .video-page__item-links {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .video-page__item-link {
    margin-bottom: 20px;
  }
}

@media (max-width: 370px) {
  .register {
    padding-top: 90px;
  }
  .main-page__title {
    font-size: 57px;
  }
  .main-page__subtitle {
    font-size: 27px;
  }
  .header__menu {
    padding: 55px;
  }
}
