@keyframes text {
    0% {
        transform: translate(0, 200%);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes textDown{
    0% {
        transform: translate(0, -200%);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes line {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


@keyframes text-right {
    0% {
        transform: translate(200%, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}