@keyframes swim {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, -5px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(0px, 5px);

    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes swim-rev {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 5px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(0px, -5px);

    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes blinking {
    0% {
        background-color: rgba(255, 255, 255, 0.3);
    }

    50% {
        background-color: rgba(27, 201, 144, 0.75);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

@keyframes text {
    0% {
        transform: translate(0, 200%);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes textDown{
    0% {
        transform: translate(0, -200%);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes line {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


@keyframes text-right {
    0% {
        transform: translate(200%, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

[data-aos="line"] {
    width: 0;
    transition-property: width;
    &.aos-animate {
        width: 100%;
    }
}