@font-face {
  font-family: "Abraham";
  src: url("../fonts/Abraham.woff2") format("woff2"),
  url("../fonts/Abraham.woff") format("woff"),
  url("../fonts/Abraham.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
