.home-page {
    background: url('../images/web.png') bottom center no-repeat;
    height: 100%;

    .main-page {
        min-height: 1300px;
    }
}

.form-wrapper {
    overflow: hidden;
}

.main-page {
    padding-top: 55px;
    overflow: hidden;

    .form-home {
        margin-top: 50px;
    }
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 165px;
    }

    &__head {
        max-width: 830px;
        margin-left: 140px;
    }

    &__mobile-img {
        display: none;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 160px;
        font-family: 'Abraham-Light', sans-serif;
        font-weight: 300;
        color: #161a43;
        line-height: 0.94;
        margin-bottom: 35px;
        margin-top: -35px;
        overflow: hidden;

        .line {
            overflow: hidden;
            transform: translate(0, 100%);
            animation: text 1s ease 1 forwards;
        }

        strong {
            font-family: 'Abraham-Bold', sans-serif;
        }
    }

    .line {
        overflow: hidden;
    }

    .animate-wrapper {
        overflow: hidden;
    }

    &__subtitle {
        position: relative;
        font-size: 80px;
        font-family: 'Abraham-Light', sans-serif;
        font-weight: 300;
        color: #161a43;
        padding-top: 10px;
        overflow: hidden;
        transform: translate(0, 100%);
        animation: text 1s ease 1 forwards;

        &::before {
            position: absolute;
            content: "";
            height: 4px;
            width: 100%;
            background-color: #161a43;
            left: 0;
            top: 0;
            width: 0;
            animation: line 1.5s ease 1 forwards;
            animation-delay: 1.5s;
        }
    }

    &__form {
        max-width: 360px;
        width: 100%;
        
        form {
            transform: translate(0, 100%);
            animation: text 1s ease 1 forwards;
        }
    }
    
    &__form-title {
        transform: translate(0, 150%);
        animation: text 1s ease 1 forwards;
        font-size: 27px;
        font-family: "Abraham-Bold", sans-serif;
        font-weight: bold;
        line-height: 1.11;
        margin-bottom: 15px;
    }

    &__form-item {
        margin-bottom: 10px;

        input[type=text] {
            display: block;
            font-family: "Abraham-Light", sans-serif;
            font-size: 20px;
            font-weight: 300;
            width: 100%;
            border: none;
            border-radius: 5px;
            box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
            background-color: rgba(255, 255, 255, 0.85);
            padding: 6px 8px;
            
            &::placeholder {
                color: #7b7b7b;
            }
        }
    }

    &__list {
        position: relative;
        display: block;
        font-family: "Abraham-Light", sans-serif;
        font-size: 20px;
        font-weight: 300;
        width: 100%;
        border: none;
        border-radius: 5px;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
    }

    &__list-head {
        cursor: pointer;
        position: relative;
        font-size: 20px;
        font-family: "Abraham-Light", sans-serif;
        font-weight: 300;
        line-height: 1.1;
        color: #6d7278;
        padding: 6px 8px;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.75);
        padding-left: 30px;
        border-radius: 5px;

        &.open {
            &::before {
                transform: rotate(180deg);
            }
        }
        
        &::before {
            position: absolute;
            content: "";
            width: 0;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            height: 0;
            border-style: solid;
            border-width: 8px 5.5px 0 5.5px;
            border-color: #000000 transparent transparent transparent;
            transition: .3s ease;
        }
    }

    &__list-items {
        display: none;
        margin-top: 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), inset -3px 3px 20px 0 rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.75);
        padding: 18px;
        border-radius: 5px;
    }

    &__form-checkbox {
        margin-bottom: 15px;

        label {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }
        
        input {
            margin-left: 13px;
            margin-top: 6px;
            flex-shrink: 0;
            &:checked ~ .checkmark {
                &::before {
                    opacity: 1;
                }
            }
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__form-btn {
        font-size: 23px;
        width: 100%;
        margin-top: 10px;
        line-height: 0.8;
        background-color: #161a43;

    }

}


.checkmark {
    position: relative;
    display: block;
    width: 19px;
    height: 19px;
    border: 1px solid #000000;
    border-radius: 2px;

    &::before {
        position: absolute;
        content: "";
        background: url('../images/check.svg') center no-repeat;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
    }
    
}