@media (max-width: 1530px) {
    .main-page {
        &__head {
            margin-left: 30px;
            margin-right: 30px;
        }

        &__title {
            font-size: 140px;
        }

        &__subtitle {
            font-size: 60px;
            padding-top: 10px;
    
        }
    }

    .video-page {
        &__percent {
            font-size: 188.5px;
        }
        &__stat-text {
            font-size: 26px;
        }
    }

    .text-page {
        &__text {
            padding-left: 0;
        }
    }
}
@media (max-width: 1530px) {
    .main-page {
        &__head {
            max-width: 500px;
        }

        &__title {
            font-size: 100px;
            margin-top: 0;
        }

        &__subtitle {
            font-size: 40px;
    
        }
    }
}

@media (max-width: 1366px) {
    .text-page {
        &__title {
            margin-top: -20px;
            font-size: 92px;
        }

        &__text {
            font-size: 28px;
        }
    }
    
    .modal {
        &__title {
            font-size: 92px;
            max-width: 488px;
        }

        &__text {
            font-size: 24px;
            margin-right: 50px;
        }

        &__content {
            padding: 45px;
            padding-top: 150px;
        }
    }
}

@media (max-width: 1200px) {
    .scroll-top {
        top: -80px;
        right: auto;
        left: 17px;
        bottom: auto;
    }
    
    .bottom-form {
        padding: 24px 0;
        .main-page__form-btn {
            margin-right: 10px;
        }
        .main-page__form-item {
            margin-left: 5px;
            margin-right: 5px;
        }

        .main-page__list {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    
    .inner-page {
        justify-content: center;

        .aside {
            margin-bottom: 50px;
        }
    }
    
    .main-page {
        &__inner {
            flex-wrap: wrap;
        }

        &__head {
            width: 100%;
            max-width: 100%;
            order: -1;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 50px;
        }

        &__title {
            max-width: 500px;
        }
    }

    .header {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .video-page {
        padding-right: 0;
        &__item {
            max-width: 45%;
        }

        &__scroll-top {
            top: 10px;
            right: auto;
            left: 0;
        }
    }

}

@media (max-width: 1024px) {

    .page-foot {
        margin-bottom: 30px;
        flex-direction: column;

        &__stat-text {
            font-size: 18px;
        }   

        &__percent {
            margin-bottom: 10px;
            text-align: center;
            font-size: 188.5px;
        }
        
        
        &__img {
            order: 2;
            margin-left: 0;
        }
    }

    .page-form-mobile {
        display: block;

        .main-page__form {
            max-width: 100%;
        }
    }

    .bottom-form {
        display: none;
    }
    
    .video-page {
        padding-top: 0px;

    }
    
    .modal {
        &__content {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-top: 60px;
            padding-bottom: 30px;
            padding-right: 20px;
            padding-left: 30px;
        }

        &__close {
            top: 16px;
            left: 16px;
        }

        &__text {
            margin: 0;
        }
        
        &__title {
            max-width: 100%;
            margin-bottom: 28px;
        }
    }
}

@media (max-width: 991px) {
    
    .text-page {
        &__content {
            flex-direction: column;
        }

        &__title {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 22px;
        }

        &__text {
            p {
                margin-bottom: 25px;
            }
        }
    }
    
    .header {
        &__logo {
            width: 350px;
        }

        &__link {
            font-size: 18px;
        }
    
        &__btn {
            font-size: 22px;
            margin-right: 40px;
        }
    }
}

@media (max-width: 768px) {
    .page {
        .scroll-top {
            left: 0;
        }
        
        &__title {
            font-size: 46px;
            line-height: 1.04;
            margin-bottom: 25px;
        }


        &__item-title {
            font-size: 27px;
            padding: 15px 0;
        }

        &__content {
            margin-bottom: 0;
        }

        .page-foot {
            & > .top-line {
                display: none;
            }
        }
    }

    .page-foot {
        &__img {
            padding-top: 20px;
            .top-line,
            .bottom-line {
                display: block;
            }
        }
    }
    
    .accordion {
        .page__item.active .accordion__btn::before,
        .page__item.active .accordion__btn::after {
            top: calc(50% + 10px);
        }

        .page__item.active .accordion__btn::after {
            top: calc(50% - 11px);
        }
        
        .page__item-title {
            width: 100%;
            padding-left: 30px;
        }

        .page__item-wrapper {
            margin: 0 -18px;
        }

        .page__item {
            flex-direction: column;
            padding: 0 18px;
        }
        
        &__btn {
            position: absolute;
            margin-top: 0;
            width: 30px;
            height: 30px;
            top: 20px;
            left: 18px;
        }
        
        
        &__content {
            font-size: 18px;
            margin: 10px 0;
            margin-top: 0;
            p {
                margin-bottom: 30px;
            }
        }
    }

    .inner-page.page__wrapper {
        margin-top: 0;
    }
    
    .scroll-top {
        width: 29px;
        height: 19px;
        top: -45px;
    }

    .page {
        .scroll-top {
            top: 15px;
        }
    }
    
    .page-foot {
        &__stat-text {
            text-align: center;
        }
    }
    .text-page {
        &__text {
            font-size: 18px;
            line-height: 1.33;
        }

        &__content {
            margin-bottom: 30px;
        }
        
        &__title {
            font-size: 46px;
            font-weight: bold;
            line-height: 1;
        }
    }
    
    .video-page {
        &__scroll-top {
            width: 29px;
            height: 19px;
            top: 15px;
        }
    }
    
    .modal {
        top: 70px;
        &__title {
            font-size: 46px;
        }

        &__close {
            width: 29px;
            height: 29px;
        }

        &__text {
            font-size: 18px;
            p {
                margin-bottom: 27px;
            }
        }
    }
    .video-page {
        &__item {
            margin-bottom: 60px;
        }

        &__main-video {
            margin-bottom: 30px;
        }

        &__item-title {
            font-size: 22px;
            line-height: 1.64;
        }

        .video-page__main-video .plyr--full-ui.plyr--video .plyr__control--overlaid {
            width: 64px;
            height: 80px;
        }
    }
    
    .header {
        padding-top: 13px;
        padding-bottom: 13px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
        
        &__logo {
            width: 293px;
        }
        
        &__links {
            display: none;
        }

        &__menu-btn {
            display: block;
        }
    }

    .navigation {
        display: none;
    }

    
    .main-page {
        min-height: auto;
        padding-bottom: 20px;
        
        &__inner {
            margin-top: 90px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__head {
            max-width: 500px;
            margin: 0 auto;
            margin-bottom: 270px;
        }

        &__form-title {
            font-weight: 300;
        }

        &__title {
            max-width: 100%;
            font-size: 60px;
            font-weight: 300;
            color: #efebe4;
            margin-bottom: 20px;
            max-width: 300px;
        }
        
        &__subtitle {
            font-size: 30px;
            font-weight: 300;
            line-height: 1.2;

            &::before {
                height: 2px;
            }
        }
    }

    .video-page {
        &__item-links {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__item-link {
            flex-basis: calc(50% - 5px);
        }

        &__item-link-green {
            margin-left: 10px;
            flex-basis: calc(50% - 5px);
        }
    }

    .inner-page {
        margin-top: 65px;
    }

    .video-page {
        &__item {
            max-width: 100%;
            width: 100%;
        }

        &__title {
            font-size: 46px;
            line-height: 1.22;
            margin-bottom: 35px;
            
        }

        &__subtitle {
            font-size: 22px;
            line-height: 1.64;
            margin-bottom: 5px;
        }

        &__main-video {
            border-radius: 0;
            margin-left: -18px;
            margin-right: -18px;
        }

        &__item-video {
            border-radius: 0;
            margin-left: -18px;
            margin-right: -18px;
        }
        &__item-title {
            margin-bottom: 5px;
        }
        
        .plyr--video {
            border-radius: 0;
        }
    }
    
}

@media (max-width: 640px) {
   
}

@media (max-width: 480px) {
}

@media (max-width: 400px) {
}

@media (max-width: 370px) {
    .main-page__title {
        font-size: 57px;
    }
    .main-page__subtitle {
        font-size: 27px;
    }

    .header__menu {
        padding: 55px;
    }
}
