.schedule {
    &__title {
        margin-left: auto;
        margin-bottom: 40px;
        line-height: 1;
        span {
            font-family: "Abraham-Light", sans-serif;
            font-weight: 300;
        }
    }

    .page__items {
        margin-bottom: 80px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
        background-color: #ffffff;
        color: #161a43;
        margin-right: 30px;

        &:hover {
            background-color: #161a43;
            color: #ffffff;

        }
    }
    
    &.page {
        max-width: 1440px;
    }

    .page__item {
        display: flex;
        align-items: center;
        padding: 25px 0;
    }

    .page__item-title {
        flex-shrink: 1;
        padding: 0;
    }

}