.text-page {

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 180px;
    }

    &__text {
        font-size: 30px;
        color: #efebe4;
        padding-left: 100px;

        p {
            margin-bottom: 40px;
            transform: translate(0, 200%);
            animation: text 1s ease 1 forwards; 
        }
    }

    &__title {
        font-size: 120px;
        font-family: "Abraham-Bold", sans-serif;
        font-weight: bold;
        line-height: .9;
        color: #efebe4;
        margin-left: 50px;
        margin-right: 50px;

        & > span {
            display: inline-block;
        }

        span > span {
            display: inline-block;
            transform: translate(0, 200%);
            animation: text 1s ease 1 forwards; 
        }
    }
}

