.video-page {

    width: 100%;
    padding-right: 60px;

    &__wrapper {
        overflow: hidden;
    }

    .animate-wrapper {
        position: relative;
    }

    &__main-video {
        border-radius: 10px;
        box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.5);
        margin-bottom: 140px;

        
        .plyr--full-ui.plyr--video .plyr__control--overlaid {
            background: url('../images/triangle.svg') center / cover no-repeat;
            width: 191px;
            height: 233px;
            svg {
                display: none;
            }
        }

    }

    &__head {
        max-width: 390px;
        width: 100%;
        flex-shrink: 0;

        .top-line,
        .bottom-line {
            animation: line 2s ease 1 forwards;
            background-color: #161a43;
        }
    }

    &__intro {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    
    &__title {
        font-size: 120px;
        line-height: 1;
        font-family: "Abraham-Light", sans-serif;
        font-weight: 300;
        color: #161a43;
        transform: translate(0, 200%);
        margin-top: 10px;
        animation: text 1s ease 1 forwards; 
    }
    &__subtitle {
        font-size: 80px;
        font-family: "Abraham-Bold", sans-serif;
        font-weight: 700;
        line-height: 1;
        color: #161a43;
        transform: translate(0, 200%);
        padding-top: 20px;
        animation: text 1s ease 1 forwards; 
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    &__item {
        max-width: 450px;
        width: 100%;
        margin-bottom: 90px;
    }

    &__item-title {
        font-size: 30px;
        font-family: "Abraham-Bold", sans-serif;
        font-weight: bold;
        line-height: 2.06;
        color: #161a43;
    }

    &__main-video {
        width: 100%;
        margin-right: 100px;
        margin-top: 40px;
    }

    &__item-video {
        box-shadow: 3px 3px 20px 0 rgba(104, 104, 104, 0.5);
        border-radius: 10px;
        margin-bottom: 12px;
    }

    &__item-link {
        display: inline-block;
        font-size: 15px;
        font-family: "Abraham-Regular", sans-serif;
        font-weight: normal;
        text-align: center;
        color: #161a43;
        padding: 7px 12px;
        background-color: #fff;
        border-radius: 10px;
        transition: .3s ease;
        margin-right: 15px;
        &:first-child {
            margin-right: 0;
        }

        &:hover {
            box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.24);
        }
    }

    &__item-link-green {
        display: inline-block;
        font-size: 15px;
        font-family: "Abraham-Medium", sans-serif;
        font-weight: 500;
        text-align: center;
        background-color: #161a43;
        padding: 7px 12px;
        color: #fff;
        border-radius: 10px;
        transition: .3s ease;

        &:hover {
            box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.24);
        }
    }
    
}

.video-page__foot.page-foot {
    color: #000000;

    .top-line,
    .bottom-line {
        position: absolute;
        height: 2px;
        background-color: #000000;
        left: 0;
        top: 0;
    }

    .bottom-line {
        right: 0;
        left: auto;
        bottom: 0;
        top: auto;
    }
}