.video-page {
    width: 100%;
    padding-right: 60px;
    padding-bottom: 300px;

    &__wrapper {
        overflow: hidden;
    }

    &__main-video {
        border-radius: 10px;
        box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.5);
        margin-bottom: 140px;

        
        .plyr--full-ui.plyr--video .plyr__control--overlaid {
            background: url('../images/triangle.svg') center / cover no-repeat;
            width: 191px;
            height: 233px;
            svg {
                display: none;
            }
        }

    }

    &__scroll-top {
        position: absolute;
        width: 60px;
        height: 60px;
        top: -55px;
        right: -20%;
    }

    &__title {
        font-size: 120px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 35px;
        margin-top: -70px;
    }
    &__subtitle {
        font-size: 30px;
        font-weight: 300;
        line-height: 2.06;
        color: rgba(0, 0, 0, 0.85);
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    &__item {
        max-width: 450px;
        width: 100%;
        margin-bottom: 90px;
    }

    &__item-title {
        font-size: 30px;
        font-weight: bold;
        line-height: 2.06;
        color: rgba(0, 0, 0, 0.85);
    }

    &__item-video {
        box-shadow: 3px 3px 20px 0 rgba(104, 104, 104, 0.5);
        border-radius: 10px;
        margin-bottom: 12px;
    }

    &__item-link {
        display: inline-block;
        font-size: 15px;
        font-weight: normal;
        text-align: center;
        color: #1aca90;
        padding: 7px 12px;
        background-color: #fff;
        border-radius: 10px;
        transition: .3s ease;

        &:hover {
            background-color: #1aca90;
            color: #fff;
        }
    }

    &__item-link-green {
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        color: rgba(255, 255, 255, 0.85);
        padding: 7px 12px;
        margin-left: 20px;
        background-color: #1aca90;
        border-radius: 10px;
        transition: .3s ease;

        &:hover {
            background-color: #fff;
            color: #1aca90;
        }
    }

    &__foot {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 40px;

        &::before {
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            background-color: #000000;
            left: 0;
            top: 0;
        }
        &::after {
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            background-color: #000000;
            left: 0;
            bottom: 0;
        }
    }

    &__stat {
        max-width: 535px;
        width: 100%;
    }

    &__percent {
        font-size: 304.4px;
        color: #000000;
        margin-top: -40px;
    }

    &__stat-text {
        font-size: 32px;
        font-weight: 500;
        color: #000000;
        margin-top: -30px;
        padding-bottom: 40px;
    }

    &__img {
        margin-left: 30px;
    }
}
